body {
    font-family: Times New Roman, serif;
}

fieldset {
    width: 620px;
    margin: 10px auto;
    border: 1px solid #003366;
}

legend {
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center;
    font-weight: bold;
}

td {
    padding: 3px 8px;
    text-align: center;
}

input[type="text"] {
    width: 140px;
    height: 20px;
}

.footer {
    border-top: 1px solid #999;
    padding: 10px;
    text-align: right;
}

.btnSum {
    background: orange;
    color: white;
    border: 1px solid #996600;
    width: 75px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}

#tong {
    margin-left: 10px;
    margin-right: 10px;
}